/* global 설정 */
* {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Malgun Gothic', Dotum,AppleGothic,Arial,Sans-serif;
    box-sizing: border-box;
}

ul > li > a {
    color: black;
    text-decoration-line: none;
}

ul > li > a:link {
    color: black;
    text-decoration: none;
}
ul > li > a:visited {
    text-decoration: none;
}

table {
	display: inline-block;
	
}
th {
	display:inline-block;
	font-size: 12px;
	padding: 0px 7px 0px 8px;
	font-weight: bold;
	
}

tr {
	display:block;
	font-size: 11px;
	padding: 8px 7px 10px 8px;	
	border-bottom: 1px solid #c8c8c8;
}

td {
	display:inline-block;
	text-align: center;
}
thead > tr {
	background: #fbfbfb;
	border-bottom: 1px solid #c8c8c8;
	border-top: 2px solid #c8c8c8;
}


