<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heracules.jmk.qna.dto">
	<select id="selectAll" resultType="QnaDTO">
		select qnaindex, qnatitle,
		qnacontents from
		member_mk
	</select>
	<select id="select" parameterType="QnaDTO" resultType="QnaDTO">
		select
		qnaindex, qnatitle, qnacontents, qnadate from member_mk
		where qnaindex = #{qnaindex}
	</select>
	<insert id="insert" parameterType="QnaDTO">
		insert into member_mk
		(qnaindex,qnatitle, qnacontents, qnadate)
		values(#{qnaindex},
		#{qnatitle}, #{qnacontents}, #{qnadate})
	</insert>
	<update id="update" parameterType="QnaDTO">
		update member_mk set qnatitle
		=
		#{qnatitle}, qnacontents=#{qnacontents}
		where qnaindex = #{qnaindex}
	</update>
	<delete id="delete" parameterType="QnaDTO">
		delete from member_mk
		where
		qnaindex =#{qnaindex}
	</delete>
</mapper>